<!-- Action Bar to be used if logged user has "ADMIN" role. -->
<!-- This Action bar contains "Admin" button which allows admin to navigate to 'view users' page. -->
<div class="row mx-0">
    <div class="d-flex align-items-center" id="action-bar">
        <div class="ml-auto mr-3">
            <span>Logged in as:</span>&nbsp;
            <b><%= loggedUser.firstname %></b>&nbsp;
            <span class="dropdown">
                <button class="btn btn-primary px-4 dropdown-toggle my-0" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown">Admin
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/admin/users">View Users</a>
                </div>
            </span>
        </div>
        <button class="btn btn-danger m-0 pr-0 text-center" id="logout-btn" type="button"
            onclick="location.href='/logout'">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
        </button>
    </div>
</div>