<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/images/logo-lmc-white.png" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavMarkup">
            <div class="navbar-nav mx-auto">
                <a class="nav-link active text-uppercase" href="#">Home</a>
                <a class="nav-link text-uppercase" href="#">About Us</a>
                <a class="nav-link text-uppercase" href="#">Core Features</a>
                <a class="nav-link text-uppercase" href="#">Solutions</a>
                <a class="nav-link text-uppercase" href="#">What's New</a>
                <a class="nav-link text-uppercase" href="#">Contact Us</a>
            </div>
        </div>
    </div>
</nav>