/* Use font family frong Google Fonts */
/* font-family: 'Lato', sans-serif; */

/* Setting up default font-family for the whole page */
body {
    font-family: 'Lato', sans-serif;
}

/* ____________________ NAVIGATION BAR ____________________ */
#navigation-bar>.nav-link {
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-size: 1rem;
    color: white !important;
    transition: 0.1s ease;
}

.navbar-brand:hover {
    background-color: transparent !important;
}

#navigation-bar>.nav-link:hover {
    background-color: transparent !important;
    transform: scale(1.1);
    transition: 0.1s ease;
}

/* Override default .bg-light color of Bootstrap to custom */
.bg-light {
    background-color: #19456b !important;
    opacity: 0.8;
}


/* ____________________ LOG-IN PAGE BACKGROUND AND TEXT ____________________ */

/* Setting login page Background-color  */
.landing-page {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/home-banner.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

/* login Text CSS */
.landing-text {
    position: absolute;
    left: 20vw;
    top: 30vh;
}

.landing-text p,
h3 {
    color: #ffffffe3;
}

.landing-page h3 {
    margin-bottom: 35px;
}

.landing-text p {
    font-size: 1.0rem;
    margin-bottom: 0;
}

.text-check {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.fas {
    color: #ffffffe3;
    margin-right: 5px;
    font-size: 1.4rem;
}


/* ____________________ LOGIN FORM ____________________ */
.login-wrap {
    position: absolute !important;
    right: 15vw;
    top: 10%;
}

.medSpec-text-bold {
    font-weight: 900;
}

.global-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

form {
    padding-top: 10px;
    font-size: 14px;
    margin-top: 30px;
}

.card {
    border-radius: 0 !important;
    border: none;
    border-top: 10px solid #19456b !important;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.7);
}

.card-title {
    width: 90%;
    font-weight: 300;
    line-height: 1.3rem;
    margin-bottom: 20px;
}

.btn {
    font-size: 15px !important;
    margin-top: 20px;
}


.login-form {
    width: 350px;
    margin: 20px;
}

.sign-up {
    text-align: center;
    padding: 20px 0 0;
}

.message-img {
    max-width: 20px;
    position: relative;
    margin: 0 10px;
}

.form-group {
    padding: 2px 0px;
}

.form-group input {
    width: 100%;
    max-height: 98%;
    border: none !important;
    outline: none !important;
}

.form-group input:focus {
    border: 0px !important;
    box-shadow: none;
}

.form-control {
    padding: 0 !important;
}

.card .btn {
    font-size: 1.1rem;
}

#forgot-password a {
    margin-top: 20px;
}

a {
    font-size: 1rem !important;
    color: rgba(0, 0, 0, 0.7) !important;
}

a:hover {
    background-color: transparent !important;
    color: black !important;
}

.social-login:hover {
    background-color: rgb(0, 0, 0, 0.5) !important;
    color: whitesmoke !important;
}

#hr-line {
    margin-top: 40px;
}

.social-icon {
    max-width: 30px;
    /* z-index: 1000; */
}


/* Flash- Connect Error/Sucess Message Div */
.alert {
    font-size: 15px;
}

/* ____________________ ADMIN_USERS PAGE ____________________ */

/* Resize icon of View/Edit/Delete on Admin/users page */
#view-icon {
    width: 40px !important;
}

#edit-icon {
    width: 20px !important;
}

#trash-icon {
    width: 20px !important;
}


.table td,
.table th {
    vertical-align: middle;
}

.text-user-role {
    width: 80px !important;
    height: 30px;
    border-radius: 15px 50px;
}

.user-default-img {
    max-width: 30px;
}

#thead-usersData-row th {
    color: whitesmoke;
    background-color: #19456bc5 !important;
    padding-left: 1.2%;
}

.custom-select {
    width: 100px !important;
}

.feature-disabled:hover::after {
    position: absolute;
    content: attr(data-tooltip);
    right: -50px;
    background-color: #333 !important;
    color: white !important;
    padding: .25em .5em;
    border-radius: 20px;
}


/* ____________________ MODAL - DISPLAY USER DETAILS ____________________ */
/* Modal Labels*/
.modal-label {
    font-size: 0.9rem !important;
    font-weight: 900;
}

#modal-user-role,
#modal-user-email,
#modal-user-address,
#modal-user-phone {
    font-size: 1.0rem !important;
}

#modal-user-role {
    border-radius: 15px 50px;
    width: 150px !important;
}


/* ____________________  LANDING PAGE ____________________ */
#section-welcome {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/using-laptop.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

#action-bar {
    background-color: rgba(244, 244, 244, 1) !important;
    height: 50px;
    width: 100vw;
    padding: 0px 10vw;
}

#logout-btn {
    background-color: transparent;
    color: black !important;
    border: none;
}

.fas.fa-sign-out-alt {
    color: black !important;
}

#logout-btn span {
    position: relative;
    top: -2px !important;
}

.dropdown-item {
    font-size: 1rem !important;
    color: black !important;
}

#landing-text {
    position: absolute;
    top: 45%;
    left: 15%;
    font-size: 4rem;
    font-weight: 400;
    color: #fde8cd;
}